<div class="mt-4 h2 text-success">
    Sign-up
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="First Name" formControlName="firstName">
        <div class="error-feedback"
            *ngIf="hasDisplayableError('firstName') && form.controls['firstName'].hasError('required')">
            Please enter first name.
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Last Name" formControlName="lastName">
        <div class="error-feedback"
            *ngIf="hasDisplayableError('lastName') && form.controls['lastName'].hasError('required')">
            Please enter Last name.
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
            <div class="error-feedback" *ngIf="form.controls['email'].hasError('required')">
                Please enter your email.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
        <div class="error-feedback" *ngIf="hasDisplayableError('password')">
            <ng-container [ngSwitch]="form.controls['password'].errors | firstkey">
                <div class="error-feedback" *ngSwitchCase="'required'">
                    Please enter your password.
                </div>
                <div class="error-feedback" *ngSwitchCase="'minlength'">
                    Lenght must be atleast 6 characters
                </div>
                <div class="error-feedback" *ngSwitchCase="'pattern'">
                    Must have one character()
                </div>
            </ng-container>

        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class="error-feedback"
            *ngIf="hasDisplayableError('confirmPassword') && form.controls['confirmPassword'].hasError('passwordMismatch')">
            Password doesn't match
        </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">
            Submit
        </button>
    </div>
</form>